@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Raw(Model.Text)
</div>