
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-lg-12">

        <!--POST INFO-->
        <div class="blog-post">
            <div class="blog-thumb">
                <img src="http://placehold.it/730x320" alt="">
            </div>
            <div class="down-content">
                <span>
                    Разработка
                </span>
                <a href="post-details.html"><h4>РАЗРАБОТКА САЙТОВ</h4></a>
                <ul class="post-info">
                    @*<li><a href="#">Admin</a></li>*@
                    <li><a href="#">Date</a></li>
                </ul>
                <p>
                    Создание сайтов на заказ – дело, требующее специальных знаний, таланта, интуиции, опыта и умения мыслить креативно.

                    Для успешности дела необходимо в совершенстве владеть всеми секретами и механизмами организации деятельности в сети-инернет.

                    Для вас мы готовы разработать сайт с применением лучших современных технологий, четко нацеленных на внешнее продвижение. Нам знакомы все секреты и механизмы организации предпринимательства в интернете.

                    Уникальный стиль, броский логотип и множество тонких нюансов, о которых вы даже не догадываетесь – все это работает на активное продвижение и на ваш успех.
                </p>
                <div class="post-options">
                    <div class="row">
                        <div class="col-6">
                            <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Tag 1</a>,</li>
                                <li><a href="#">Tag 2</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END POST INFO-->
        
        <!--CONTINUED POSTS-->
        <div class="col-lg-12">
            <div class="main-button">
                <a href="blog.html">Посмотреть больше</a>
            </div>
        </div>
    </div>