<!DOCTYPE html>
<html lang="ru">

<head>
    @*MetaTags*@
    @await Html.PartialAsync("MetatagsPartial")
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    @*Bootstrap core CSS && Additional CSS Files*@
    @await Html.PartialAsync("CssPartial")

</head>
<body>
    @****** Preloader Start ******@
    @await Html.PartialAsync("PreloaderPartial")

    <!-- Header -->
    @await Html.PartialAsync("HeaderPartial")

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    @await Html.PartialAsync("BannerPartial")
    <!-- Banner Ends Here -->

    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-8">
                                <h4>
                                    КОНСУЛЬТАЦИЯ ПО УСЛУГАМ
                                </h4>
                                <span>
                                    Менеджеры компании ответят на все Ваши вопросы
                                </span>
                            </div>
                            <div class="col-lg-4">
                                <div class="main-button">
                                    <a rel="nofollow" target="_parent" asp-area="" asp-controller="FeedBack" asp-action="Index">Заказать звонок</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </div>

                <!--SIDEBAR-->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                @await Html.PartialAsync("SidebarItemMakePartial")
                            </div>
                            @*<div class="col-lg-12">
                                @await Html.PartialAsync("SidebarOurProjectsPartial")
                            </div>*@
                            @*<div class="col-lg-12">
                                @await Html.PartialAsync("SidebarTagsPartial")
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Footer*@
    @await Html.PartialAsync("FooterPartial")

    @*Bootstrap core JavaScript && Additional Scripts*@
    @await Html.PartialAsync("ScriptsPartial")

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; 
        function clearField(t) {                   
            if (!cleared[t.id]) {                      
                cleared[t.id] = 1;  
                t.value = '';         
                t.style.color = '#fff';
            }
        }
    </script>
</body>
</html>