@using CompanySite.Service
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Мы в социальных сетях:</b></p>
                <ul class="social-icons">
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">VK</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>
                        <a rel="nofollow" href="#" target="_parent">@Config.CompanyName</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>