<div class="sidebar-item tags">
    <div class="sidebar-heading">
        <h2>Теги</h2>
    </div>
    <div class="content">
        <ul>
            @*Tags*@
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
</div>