<div class="sidebar-item recent-posts">
    <div class="sidebar-heading">
        <h2>Что мы делаем?</h2>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="post-details.html">
                    <h5>Разработка сайтов</h5>
                    <span>Создание Сопровождение Продвижение</span>
                </a>
            </li>
            <li>
                <a href="post-details.html">
                    <h5>Регистрация бизнеса</h5>
                    <span>Выбор наиболее подходящей формы собственности</span>
                </a>
            </li>
            <li>
                <a href="post-details.html">
                    <h5>Бухгалтерский учет</h5>
                    <span>Финансовая и налоговая отчетность, а также составление проводок</span>
                </a>
            </li>
            <li>
                <a href="post-details.html">
                    <h5>Электронно цифровая подпись (ЭЦП)</h5>
                    <span>Получение ЭЦП для различных площадок</span>
                </a>
            </li>
        </ul>
    </div>
</div>